body{
    box-sizing: border-box;
}

/****HEADER STYLE****/
#header-nav{
    background-color: #B7B3B5;
    border-radius: 0;
}

.navbar-brand a{
    color: #000000;
    font-size: 2em;
}

.navbar-default .navbar-toggle {
    border-color: #000;
}

ul{
    background-color: #ffffff;
    border: 1px solid black;
}

li:nth-child(1), li:nth-child(2){
    border-bottom: 1px solid black;
}
/****END HEADER STYLE****/


/****MAIN CONTENT****/
#main-title{
    margin-bottom: 50px;
}
.tile-box{
    background-color: #B7B3B5;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.tile-title{
    color: #c42828;
    font-size: 1.8em;
    padding-bottom: 10px;
}







